doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/x-icon", href="/images/favicon.png")
    title= title
    script(src="https://kit.fontawesome.com/1c01e734db.js") 
    link(rel="stylesheet", href="/stylesheets/bootstrap-grid.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-utilities.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href= loginCSS)
    link(rel="stylesheet", href= indexCSS)
    link(rel="stylesheet", href= postManagerCSS)
    link(rel="stylesheet", href="/stylesheets/editor.css")
  body
    nav
      ul
        li
            a(href="../")= '< Back'
      .rightLinks 
        //- ul
        //-   li 
        //-     a(href="/" alt="Home page link") Home
        
        ul 
          li 
            if(locals.postManagerCSS)
                a(href="/u/logout")
                    = 'Logout'
            else
                a(onclick="submit()")
                    != '<i class="fa-solid fa-floppy-disk"></i>'
    block content
