doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/x-icon", href="/images/favicon.png")
    title= title
    script(src="https://kit.fontawesome.com/1c01e734db.js") 
    link(rel="stylesheet", href="/stylesheets/bootstrap-grid.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-utilities.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href= loginCSS)
    link(rel="stylesheet", href= indexCSS)
    link(rel="stylesheet", href= postManagerCSS)
    link(rel="stylesheet", href= editorCSS)
  body
    nav
      input#menu(type="checkbox")
      label#menuButton(for="menu")
        i.fa-solid.fa-bars
      a(href="../")
        label.logo!= '< Back'
      ul
        if (locals.postManagerCSS)
          li
            a(href="/u/logout") Logout
          li
            a(href="/u/profile") Profile
          li
            a(href="/u/edit/new-post") New Post
          li#goBack
            a(href="../") Go Back
        if (locals.editorCSS)
          li 
            a(onclick="submit()") Save Draft
          li
            a(onclick="submit()") Publish
          li#goBack
            a(href="../") Go Back
        //- li 
        //- ul 
        //-   li 
        //-     if(locals.postManagerCSS)
        //-         a(href="/u/logout")
        //-             = 'Logout'
        //-     else
        //-         a(onclick="submit()")
        //-             != '<i class="fa-solid fa-floppy-disk"></i>'
    block content
