footer
  h3 Created by- Shivansh Kothari
  ul
    li
      a(href="https://github.com/ShivanshKothari", class="purpleLink")
        i.fa-brands.fa-github(aria-hidden="true")
        |  GitHub
    li
      a(href="https://www.linkedin.com/in/shivansh-kothari-047357223/", class="purpleLink")
        i.fa-brands.fa-linkedin(aria-hidden="true")
        |  LinkedIn
    li
      a(href="https://www.instagram.com/shivansh_k0thari", class="purpleLink")
        i.fa-brands.fa-instagram(aria-hidden="true")
        |  Instagram
    li
      a(href="https://replit.com/@ShivanshKothari", class="purpleLink")
        i.fa-solid.fa-code-fork(aria-hidden="true")
        |  Replit
    li
      a(href="https://www.youtube.com/channel/UChD7fRX-hwoQ25ecVlSfMRQ", class="purpleLink")
        i.fa-brands.fa-youtube(aria-hidden="true")
        |  YouTube
