footer
  h4 © My Vedic Journey
  ul
    li
      a(href="https://github.com/ShivanshKothari/blog-site")
        i.fa-brands.fa-github(aria-hidden="true")
        |  GitHub
    li
      a(href="https://www.linkedin.com/in/shivansh-kothari-047357223/")
        i.fa-solid.fa-newspaper(aria-hidden="true")
        |  What's New
    li
      a(href="https://www.instagram.com/shivansh_k0thari")
        i.fa-brands.fa-instagram(aria-hidden="true")
        |  Instagram
    li
      a(href="https://www.youtube.com/channel/UChD7fRX-hwoQ25ecVlSfMRQ")
        i.fa-brands.fa-youtube(aria-hidden="true")
        |  YouTube
script(src="/js/main.js" type="text/javascript") 