doctype html
html
  head
    title= title
    script(src="https://kit.fontawesome.com/1c01e734db.js") 
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/bootstrap-grid.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-utilities.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href= loginCSS)
    link(rel="icon", type="image/x-icon", href="/images/favicon.png")
    if (locals.homeCSS)
      link(rel="stylesheet", href="/stylesheets/index.css")
  body
    nav
      .logo 
      .rightLinks 
        //- ul
        //-   li 
        //-     a(href="/") Home
        ul
          li 
            a(href="/u")
              if(locals.loggedIn)
                i.fa-solid.fa-user
              else 
                = 'Login'
    block content
