doctype html

html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 404 Page
        link(rel="stylesheet" href="/stylesheets/style404.css")
        
        link(rel="stylesheet", href="/stylesheets/bootstrap-grid.min.css")
        link(rel="stylesheet", href="/stylesheets/bootstrap-utilities.min.css")

    body
        section.page_404
            .container
                .row
                    .col-sm-12
                        .col-sm-10.col-sm-offset-1.text-center
                            .four_zero_four_bg
                                h1.text-center 404
                            .contant_box_404
                                h3.h2 Look like you're lost
                                p the page you are looking for not avaible!
                                a.link_404(href="/") Go to Home
