html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')

  body
    main
      h1 Welcome Back!
      form(action='/u/submit', method='post')
        label(for='email') Email:
        input(type='email', id='email', name='email', required)

        label(for='password') Password:
        input(type='password', id='password', name='password', required)

        button(type='submit') Log In

        p#warning= warning
