main {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    border: #d45c00 dotted;
    border-width: 0 1px;
    padding: 4em 2em;
}

img {
    border: #d45c00 solid;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.postCard {
    margin: 1em 0;
    width: 100%;
}

.postCard h2 {
    color: #000;
}

@media (max-width: 768px) {
    main {
        margin-left: 0; /* Reset the margin */
        transform: none; /* Reset the transform */
        width: 100%; /* Make the width 100% of the viewport */
        box-sizing: border-box; /* Include padding in the width */
        padding: 4em 2em;
    }
}