main {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    border: #d45c00 dotted;
    border-width: 0 1px;
    padding: 90px 2em;
}

img {
    border: #d45c00 solid;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.postCard {
    margin: 1em 0;
    width: 100%;
}

.postCard h2 {
    color: #000;
}

