/* COLOR PALETTE https://colorhunt.co/palette/1d2b537e2553ff004dfaef5d */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #EEE;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
}

a {
  color: #fff;
}

a:hover {
  text-shadow: 1px 1px 5px #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #d45c00;
}

h1,h3 {
  font-size: xx-large;
}

nav {
  position: fixed;
  background-color: #d45c00;
  height: 80px;
  width: 100%;
  z-index: 1;
}

#backLink {
  background: none;
}

#menu, #goBack {
  display: none;
}

label[for="menu"] {
  position: fixed;
  bottom: 5vh;
  right: 0;
  z-index: 2;
  display: none;
}

label[for="menu"] i {
  color: white;
  background-color: #d45c00;
  font-size: 24px;
  float: right;
  margin-right: 30px;
  cursor: pointer;
  padding: 10px 0;
  width: 50px;
  text-align: center;
  border: 5px solid #fff;
  border-radius: 15px;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px 0 40px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  font-size: 24px;
  padding: 7px 13px;
  margin: 5px;
  border-radius: 30px;
  text-transform: uppercase;
}

nav a.active, nav a:hover {
  color: #d45c00;
  background-color: #fff;
}

main {
  padding-top: 80px;
  box-sizing: border-box;
}

main.blogMain{
  display: flex;
  flex-basis: 200px;
  flex-wrap: wrap;
  width: 100%;
}

main > .postContent {
  display: flex;
  flex-direction: column;
  padding: 4em;
  border-right: #777 2px double;
}

.postContent a {
  color: #d45c00;
  font-size: 1em;
  text-decoration: underline;
}

.postContent a:hover {
  font-weight: 700;
  color: black;
}

.main > .postContent p {
  max-width: 100%;
  margin: 0; /* Reset default margin */
  font-size: 14px; /* Adjust font size as needed */
  line-height: 1.6; /* Set a comfortable line height */
  word-wrap: break-word; /* Allow long words to break and wrap */
  
}

.postContent > img{
  margin: 2em 0em;
  max-width: 500px;
  align-self: center;
}

img {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
  box-sizing: border-box;
}

p {
  font-size: 1.5em;
}

main > .suggestionsPane {
  padding: 2em;
}

.postTile {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.postTile h4 {
  color: black;
  margin-top: 10px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #d45c00;
  padding: 2em;
}

footer h4 {
  color: #EEE;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
}

footer a {
  text-decoration: none;
}

@media (max-width: 992px) {
  label.logo {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  label[for="menu"], #goBack {
    display: block;
  }
  nav {
    position: absolute;
  }
  nav ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    padding-bottom: 15vh;
    text-align: center;
    top: 0;
    left: 100%;
    transition: all .5s;
    backdrop-filter: blur(15px);
  }
  nav ul li {
    line-height: 50px;
  }
  nav a {
    color: rgb(247, 111, 6);
    font-size: 5vh;
    font-weight: 700;
    letter-spacing: .1em;
    -webkit-text-stroke-width: 1px;
    text-shadow: 4px 4px 0 #000;
    -webkit-text-stroke-color: #fff;
  }
  nav a:hover, nav a.active {
    text-shadow: 1px 1px 5px #eee;
    background: none;
  }
  #menu:checked ~ ul {
    left: 0;
  }
  
}

@media (max-width: 582px) {
  footer {
    flex-direction: column;
  }
  footer h4 {
    padding: 1em 0;
  }
  footer ul {
    flex-direction: column;
    justify-content: center;
  }
}